h1 {
  color: black;
}

body {
  text-align: center;
  height: 100%;
  background-color: #e3dc95;
}
.color-alert-info {
  background-color: #51513d;
  color: white;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.addBorder {
  margin: 5%;
}
.my-auto {
  padding-top: 18%;
  padding-left: 8%;
  padding-right: 8%;
}
.my-auto img {
  padding-top: 8%;
}
.reduce {
  width: 200px;
}
