h1 {
  color: green;
}

body {
  text-align: center;
  height: 100%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.my-auto {
  padding-top: 18%;
  padding-left: 8%;
  padding-right: 8%;
}
.my-auto img {
  padding-top: 8%;
}
.reduce {
  width: 200px;
}
